apiVersion: watchdog.bizaikube.io/v1alpha1
kind: PolicyProfile
metadata:
  name: restrict-ingress
spec:
  match:
    kind: NetworkPolicy
    namespace: prod-*
  policy:
    denyIngress: "true"
    labels.security: "strict"
